@media (max-width: 1100px) {
nav.menu {
   	height: 50px;
   	padding: 0;
    background-color: #01e2ba;
}

nav.sticky{
    height: 50px;
    background-color: #01e2ba;
}

a.logo {
    color: #fff;
    font-size: 30px;
    padding-left: 12px;
    font-weight: 800;
}

nav.sticky a.logo{
    color: white;
}

a.linkMenu {
    color: #fff;
    font-weight: 500;
    margin: 0 8px 0 8px;
}

nav.sticky a.linkMenu{
    color: white;
}

a.linkMenu.nav-link{
	padding: 12px;
}

li.itemList {
	background-color: #01e2ba;
    height: 50px;
}

nav.sticky li.itemList{
    height: 50px;
}

nav.sticky li.itemList:hover{
    background-color: white;
}

li.itemList:hover a {
    color: white;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
}

nav.sticky li.itemList:hover a{
    color: black;
}

.social {
    display: none;
}

.active {
    background-color: #01e2ba;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
}

.active a{
    color: white;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
}

nav.sticky .active{
    background-color: #fff;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
}

nav.sticky .active a{
    color: black;
}

section#carouselSite {
    margin-top: 50px;
}
}